previous-release-documents/*.zip filter=lfs diff=lfs merge=lfs -text
previous-release-documents/*.tar.gz filter=lfs diff=lfs merge=lfs -text
previous-release-documents/*.tgz filter=lfs diff=lfs merge=lfs -text
