<nav class="bx--cloud-header">
    <div class="bx--cloud-header__wrapper">
        <a href="/" class="bx--cloud-header-brand">
            <img src="../images/cell.svg" alt=" " />
            <h4 class="bx--cloud-header-brand__text">
                Blue
                <span>Charge</span>
            </h4>
        </a>
        <div class="bx--cloud-header__wrapper">
            <ul class="bx--cloud-header-list">
                <li class="bx--cloud-header-list__item bx--cloud-header-list__item--icon">
                    <button class="bx--cloud-header-list__btn" type="button">
                        <svg viewBox="0 0 16 16">
                            <title>notifications</title>
                            <path
                                d="M9 1.11V0H7v1.11A5.022 5.022 0 0 0 3.1 4.9L1 14h5a2 2 0 0 0 4 0h5l-2.1-9.1A5.022 5.022 0 0 0 9 1.11z" />
                        </svg>
                    </button>
                </li>
                <li class="bx--cloud-header-list__item bx--cloud-header-list__item--icon">
                    <button class="bx--cloud-header-list__btn" type="button">
                        <svg viewBox="0 0 16 16">
                            <title>applications</title>
                            <circle cx="2" cy="2" r="2" />
                            <circle cx="8" cy="2" r="2" />
                            <circle cx="14" cy="2" r="2" />
                            <circle cx="2" cy="8" r="2" />
                            <circle cx="8" cy="8" r="2" />
                            <circle cx="14" cy="8" r="2" />
                            <circle cx="2" cy="14" r="2" />
                            <circle cx="8" cy="14" r="2" />
                            <circle cx="14" cy="14" r="2" />
                        </svg>
                    </button>
                </li>
                <li class="bx--cloud-header-list__item bx--cloud-header-list__item--icon">
                    <button class="bx--cloud-header-list__btn" type="button">
                        <svg viewBox="0 0 16 16" fill-rule="evenodd">
                            <title>search</title>
                            <path
                                d="M6 2c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4zm0-2C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm10 13.8L13.8 16l-3.6-3.6 2.2-2.2z" />
                            <path d="M16 13.8L13.8 16l-3.6-3.6 2.2-2.2z" />
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <ul class="bx--cloud-header-list">
        <li class="bx--cloud-header-list__item">
            <a class="bx--cloud-header-list__link" href="#">MOBILE</a>
            <a class="bx--cloud-header-list__link" href="#">DATACARD</a>
            <a class="bx--cloud-header-list__link" href="#">DTH</a>
            <a class="bx--cloud-header-list__link" href="#">LANDLINE</a>
            <% if(!isLoggedInUser) { %>
                <button class="bx--btn bx--btn--primary" type="button" data-modal-target="#modalLogin">LOGIN</button>
            <% } else { %>
            <p style="margin-right: 10px;"><%= userEmail %></p>
            <button class="bx--btn bx--btn--primary" type="button" onclick="window.location.href='/logout'">SIGN OUT</button>
            <% } %>
        </li>
    </ul>
</nav>
