/tmp
/old
*/private

.vscode
.prettierrc*
Vagrantfile
.vagrant

/node_modules
*/node_modules
/.pnp
.pnp.js

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# mcsp - testing
/coverage
/src/integration-e2e/output/*
# mcsp - produciton
/build
react-app/build/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
launchConfigurations/
*.ipr
*.iml
*.iws
*.flags.json
web/
lib/*.zip
version.properties
.sass-cache
swagger-ui.sublime-workspace
.idea
.project
/nbproject/private/
dist/specs/
test/specs/local/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
